<!DOCTYPE html>
<link rel="stylesheet" href="assets/style.css">
<html>
<head>
 
</head>

<body>

    <div class="navbar">
        <a href="login.html">Login</a>
        <a href="register.html">Cadastro</a>
    </div>

    <div class="button-container">
        <button>Fortune Tiger</button>
        <button>Fortune OX</button>
        <button>Fortune Rabbit</button>
        <button>Mines</button>
        <button>Joias da fortuna</button>
    </div>

    <div class="slide-container">
        <img class="slide active" src="img/bannertg.png" alt="Imagem1">
        <img class="slide" src="img/bandito.png" alt="Imagem2">
        <img class="slide" src="img/home_banner_en@3x-2fa4c553.png" alt="Imagem3">
        <img class="slide" src="img/HB-81b0aad2.png" alt="Imagem4">
    </div>

    <h2>+ jogados da semana</h2>

    <div class="games-container">
        <img src="icons/6ec4e6d4de6acda7ef9da529af8795c5_casinoGameIcon2.webp" alt="Jogo1">
        <img src="icons/aab05d2aff2794a122d3fdf0f5366df6_casinoGameIcon3.webp" alt="Jogo2">
        <img src="icons/ox.webp" alt="Jogo3">
        <img src="icons/candyblitz.webp" alt="Jogo4">
        <img src="icons/a4c3ff8bf2e95623783618b1969660b8_casinoGameIcon3.webp" alt="Jogo5">
        <img src="icons/a213f08b3d2ee9f80df142f431825d23_casinoGameIcon3.webp" alt="Jogo6">
    </div>

    <h2>Jogos populares</h2>

    <div class="popular-games-container">
        <img src="img/" alt="Jogo1">
        <img src="icons/rabit.webp" alt="Jogo2">
        <img src="icons/a213f08b3d2ee9f80df142f431825d23_casinoGameIcon3.webp" alt="Jogo3">
        <img src="icons/aab05d2aff2794a122d3fdf0f5366df6_casinoGameIcon3.webp" alt="Jogo4">
        <img src="icons/mouse.webp" alt="Jogo5">
        <img src="icons/bec739700bd911e101bb097c02fe34ec_casinoGameIcon3.webp" alt="Jogo6">
    </div>
    <h2>Novos</h2>
    <div class="games-container">
        <img src="assets/img/icons/12635ca45ce87ff507dd27aa296215e2_casinoGameIcon3.webp" alt="Jogo1">
        <img src="assets/img/icons/1c9737123c1349c1ed5fbcaf9833d2fb_casinoGameIcon3.webp" alt="Jogo2">
        <img src="assets/img/icons/6145dc8b4ec35ac1c4bd6d34d03d3468_casinoGameIcon3.webp" alt="Jogo3">

    </div>
    <p>Atenção essa e apenas uma pagina de modelo base.</p>
    <script>
        var slideIndex = 0;

        function showSlides() {
            var slides = document.getElementsByClassName("slide");
            for (var i = 0; i < slides.length; i++) {
                slides[i].classList.remove("active");
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].classList.add("active");
            setTimeout(showSlides, 2000); // Muda a imagem a cada dois segundos
        }

        showSlides();
        var games = document.getElementsByClassName('game');
        var scrollLeft = document.getElementById('scrollLeft');
        var scrollRight = document.getElementById('scrollRight');
        var index = 0;

        function updateDisplay() {
            for (var i = 0; i < games.length; i++) {
                if (i >= index && i < index + 5) {
                    games[i].style.display = 'block';
                } else {
                    games[i].style.display = 'none';
                }
            }
        }

        scrollLeft.addEventListener('click', function () {
            if (index > 0) {
                index--;
                updateDisplay();
            }
        });

        scrollRight.addEventListener('click', function () {
            if (index < games.length - 5) {
                index++;
                updateDisplay();
            }
        });

        updateDisplay();
    </script>

</body>

</html>