<!DOCTYPE html>
<link rel="stylesheet" href="assets/style.css">
<html>
<head>
 
</head>

<body>

    <div class="navbar">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'nomeviewcad' %}">Cadastro</a>
    </div>
    

    <div class="button-container">
        <button>Fortune Tiger</button>
        <button>Fortune OX</button>
        <button>Fortune Rabbit</button>
        <button>Mines</button>
        <button>Joias da fortuna</button>
    </div>

    <div class="slide-container">
        <img class="slide active" src="assets/img/icons/home_banner_en@3x-2416740c.png" alt="Imagem1">
        <img class="slide" src="assets/img/icons/bandito.png" alt="Imagem2">
        <img class="slide" src="assets/img/icons/home_banner_en@3x-434227b0.png" alt="Imagem3">
        <img class="slide" src="assets/img/icons/home_banner_en@3x-3f8420fc.png" alt="Imagem4">
    </div>

    <h2>+ Jogados da semana</h2>

    <div class="games-container">
        <img src="assets/img/icons/12635ca45ce87ff507dd27aa296215e2_casinoGameIcon3.webp" alt="Jogo1">
        <img src="assets/img/icons/1c9737123c1349c1ed5fbcaf9833d2fb_casinoGameIcon3.webp" alt="Jogo2">
        <img src="assets/img/icons/3D_Poker_en.07427ad.png" alt="Jogo3">
        <img src="assets/img/icons/Europe_pic_en.3ec3cf7.png" alt="Jogo4">
        <img src="assets/img/icons/aab05d2aff2794a122d3fdf0f5366df6_casinoGameIcon3.webp" alt="Jogo5">
        
    </div>

    <h2>Jogos populares</h2>

    <div class="popular-games-container">
        <img src="assets/img/icons/a4c3ff8bf2e95623783618b1969660b8_casinoGameIcon3.webp" alt="Jogo1">
        <img src="assets/img/icons/aab05d2aff2794a122d3fdf0f5366df6_casinoGameIcon3.webp" alt="Jogo2">
        <img src="assets/img/icons/f44162ae83d6f5944dfac67eb4db4582_casinoGameIcon3.webp" alt="Jogo3">
        <img src="assets/img/icons/bec739700bd911e101bb097c02fe34ec_casinoGameIcon3.webp" alt="Jogo4">
        <img src="assets/img/icons/ox.webp" alt="Jogo5">
        <img src="assets/img/icons/a213f08b3d2ee9f80df142f431825d23_casinoGameIcon3.webp" alt="Jogo6">
    </div>
    <h2>Novos</h2>
    <div class="games-container">
        <img src="assets/img/icons/12635ca45ce87ff507dd27aa296215e2_casinoGameIcon3.webp" alt="Jogo1">
        <img src="assets/img/icons/1c9737123c1349c1ed5fbcaf9833d2fb_casinoGameIcon3.webp" alt="Jogo2">
        <img src="assets/img/icons/6145dc8b4ec35ac1c4bd6d34d03d3468_casinoGameIcon3.webp" alt="Jogo3">

    </div>
    <p>Atenção essa e apenas uma pagina de modelo base.</p>

<script src="assets/script.js"></script>

</body>

</html>