
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    Background-color: #1a1a1a;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.button-container {

backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
}


.button-container button {
padding: 10px 20px;
border-radius: 32px;
background-color: #126cd300;
color: rgb(246, 246, 246);

}


.slide-container {
    max-width: 1800px;
    
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
    opacity: 0;
transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.games-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.games-container img {
    width: 250px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    transition: transform .2s;
    border-radius: 13px;
    /* Animação suave */
}

.games-container img:hover {
    transform: scale(1.5);
    /* (150% zoom - CSS3 only) */
}

.popular-games-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.popular-games-container img {
    flex-shrink: 0;
    width: calc(20% - 40px);
    margin-right: 20px;

}
h2{
    color: #ddd;
}
p{
    color: #ddd;
}
